.box {
  background-color: mix(gold, $bg, 83%);
  width: calc( 10rem - #{rem($size)});
  height: calc( 10rem - #{rem($size)});

  &:hover {
    background-color: tomato;
  }
    
  &:focus {
    background-color: tomato;
  }

  &::before {
    content: 'Paco';
  }

  & + .box {
    margin-top: rem(10);
  }
}