---
layout: layouts/base.njk
lang: es_ES
title: Mi página con 11ty
---
{% set myTitle = {
	label: 'Soy index pero desde Nunjucks',
	class: 'title title--main'
} %}
{% include "_partials/main-title.njk" %}


<p>😀😱</p>
