.todos__list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.todos__list-item + .todos__list-item {
	margin-top: 10px;
}

.todos__list-item--done {
	order: 1;
}





.task {}
.task__field:checked + .task__label {
	text-decoration: line-through;
}
