/* bitter-regular - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/public/fonts/bitter/bitter-v25-latin-regular.woff2') format('woff2'),
       url('/public/fonts/bitter/bitter-v25-latin-regular.woff') format('woff');
}

/* bitter-600 - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/public/fonts/bitter/bitter-v25-latin-600.woff2') format('woff2'),
       url('/public/fonts/bitter/bitter-v25-latin-600.woff') format('woff');
}

body {
  margin: 0;
  font-family: bitter, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(150.64deg, #57BDC4 0%, #3B5172 100%);

  min-height: 100vh;
}

