body {
  margin: 0;
  font-size: 20px;
}

.subscribe {
  padding: 2em;
}

.form {
  background-color: #fabada;
  /* width: 530px;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 1fr 40%;
  gap: 1em; */
}

.form__row {
  background-color: gold;
  /* grid-column: span 2; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-areas: 
  ". label label label . field field field field field field ."
  ; */
}

.form__row + .form__row {
  margin-top: 1em;
}

.form__label {
  font-weight: bold;
  /* grid-area: label; */
  grid-column: 2 / span 3;
  align-self: center;
  background-color: #ff9900;
}

.form__field {
  font: inherit;
  border: 1px solid #a1a1a1;
  border-radius: 2.5px;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  /* grid-area: field; */
  grid-column: 6 / 12;
}

.form__field::placeholder {
  font-size: .75em;
}



.form__row--name {}
.form__row--surname {}
.form__row--nick {
  /* grid-column: span 1;
  grid-column: 2/3;
  grid-row: 3/4; */
}
.form__row--yob {
  /* grid-column: span 1;
  grid-column: 1/2;
  grid-row: 3/4; */
}
.form__row--email {}