.grid-container {
  background-color: cyan;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(11, 50px);

  grid-auto-flow: column;
  width: 300px;


}
.grid-item {
  background-color: gold;
}


/* .grid-item--1 {
  background-color: tomato;
  grid-area: paquito;
}

.grid-item--2 {
  background-color: lime;
  grid-area: paco;
}

.grid-item--3 {
  background-color: blue;
  grid-area: paca;
}

.grid-item--4 {
  background-color: #fabada;
  grid-area: paquete;
}

.grid-container::before {
  content: '';
  background-color: white;
  color: white;
  grid-column: 1/5;
  grid-row: 1/4;
  opacity: .9; 
} */
/* .grid-item--1 {}
.grid-item--2 {
  grid-column: span 3;
  background-color: lime;
}
.grid-item--3 {
  grid-column: 3;
  grid-row: span 2;
  background-color: #fabada;
}
.grid-item--4 {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  background-color: #c0ffee;
}
.grid-item--5 {}
.grid-item--6 {
  grid-column: 4/5;
  grid-row:  2/3;
} */