body {
  text-align: center;
}

.group {
  padding: 20px;
}
.group + .group {
  border-top: 1px solid red;
}

.group--inline .box {
  display: inline;
}
.group--inline-block .box {
  display: inline-block;
}
.group--block .box {
  display: block;
  margin: 10px auto;
}

.box {
  border: 1px solid deeppink;
  padding: 10px;
  margin: 10px;
  width: 300px;
  vertical-align: top;
  height: 150px;
}

.block {
  display: block;
  width: 100px;
  height: 100px;
  background: lime;
}

.hidden {
  display: none !important;
}