body {
  margin: 0;
  font-family: Roboto, arial, sans-serif;
}

button {
  font: inherit;
}

.sr {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.button {
  background-color: #29A0D3;
  line-height: 2.8125rem;
  padding: 0 0.75rem;
  border: 0;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 1.40625rem;
  min-width: 14.0625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color ease .3s;
  transition: background-color ease .3s;
}

.button:hover {
  background-color: #0076A4;
}

.button:disabled {
  background-color: #c4c4c4;
  cursor: default;
}

.button--disabled {
  background-color: #c4c4c4;
  cursor: default;
  pointer-events: none;
}

.button--arrow {
  display: -ms-grid;
  display: grid;
  gap: 0.3125rem;
  -ms-grid-columns: 1fr 1.5rem;
      grid-template-columns: 1fr 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button--arrow::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.button--arrow::after {
  background: url(../img/layout/ico-arrow.svg) left top no-repeat;
  background-size: 1.5rem;
}

.button--tertiary {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 0.0625rem currentColor;
          box-shadow: inset 0 0 0 0.0625rem currentColor;
  color: #29A0D3;
}

.button--tertiary:hover {
  background-color: transparent;
  color: #0076A4;
}

.button--tertiary:hover.button--arrow::after {
  background-position: -1.5rem top;
}

.button--tertiary:disabled {
  background-color: transparent;
  color: #c4c4c4;
}

.button--tertiary:disabled.button--arrow::after {
  background-position: -3rem top;
}

.button--tertiary.button--arrow::after {
  background: url(../img/layout/ico-arrow-tertiary.svg) left top no-repeat;
  background-size: 4.5rem 1.5rem;
}

.button--play {
  display: -ms-grid;
  display: grid;
  gap: 0.3125rem;
  -ms-grid-columns: 1fr 1.5rem;
      grid-template-columns: 1fr 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D32929;
  min-width: auto;
  padding-left: 1.5rem;
}

.button--play::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.button--play::after {
  background: url(../img/layout/ico-play.svg) left top no-repeat;
  background-size: 1.5rem;
}

.button--play:hover {
  background-color: #D32929;
}

.button--play-mini {
  width: 2.8125rem;
  height: 2.8125rem;
  padding: 0;
  display: block;
  position: relative;
}

.button--play-mini::after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button--play-mini .button__label {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
/*# sourceMappingURL=main.css.map */