body {
  font-size: 32px;
  margin: 0;
  background-color: #e4e5e6;
}
.page {}

.page__header {
  background-color: #fff;
  padding: .5em 0;
}
.page__header .wrapper {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.logo {}
.logo__image {
  width: 6.25em;
}
.page__nav {}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 1em;
  justify-content: center;
}
.menu__item {}
.menu__link {
  color: #05c;
}

@media (min-width: 768px) {
  .page__header .wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  } 
  .logo__image { 
    display: block;
  }

  .menu__item--contact::before {
    content: '|';
    padding-right:1em;
  }
}