html {
  height: 100%;
  font-size: 32px;
}
body {
  margin:0;
  height: 100%;
}

.page {
  background: cyan;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page__header {
  background-color: #e4e5e6;
  padding: .5em 0;
}
.page__main {
  background: gold;
  flex-grow: 1;
}
.page__footer {
  background-color: #212121;
  color: white;
  text-align: center;
  padding: .5em 0;
  margin-top: auto;
}