// CHECKBOX
.checkbox {
	position: relative;
}

.checkbox__field {
	font-size: inherit;
	left: -1px;
	outline: none;
	position: absolute;
	top: 0;
	z-index: 1;
}

.checkbox__label {
	align-items: center;
	display: inline-flex;
	position: relative;
	z-index: 2;
}





// CHECK
.checkbox__label::before {
	background: url(../img/ico-check.svg) center 20px no-repeat $color-white;
	background-size: 12px;
	border-radius: 2px;
	box-shadow: inset 0 0 0 2px $color-checkbox;
	content: '';
	display: inline-block;
	height: 20px;
	margin-right: 10px;
	transition: background-color ease .3s,
	background-position ease .3s;
	width: 20px;
}

.checkbox__field:checked + .checkbox__label::before {
	background-color: $color-checkbox;
	background-position: center;
}





// FOCUS
.checkbox__field:focus + .checkbox__label::before {
	@include focus(check);
}
