.code {
	background: #e5e6e7;
	//transform: scale(2);
	transform-origin: left top;
}

.code__items {
	list-style: none;
	margin: 2em 0;
	padding: 0;
}

.code__item + .code__item {
	margin-top: 1em;
}
