$color-black: #000;
$color-white: #fff;
$color-blue: #006CCE;
$color-grey: #c4c4c4;

$color-checkbox: $color-blue;
$color-radio: $color-blue;
$color-switch: $color-blue;
$color-switch-off: $color-grey;
