.code {
  background: #e5e6e7;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.code__items {
  list-style: none;
  margin: 2em 0;
  padding: 0;
}

.code__item + .code__item {
  margin-top: 1em;
}

.checkbox {
  position: relative;
}

.checkbox__field {
  font-size: inherit;
  left: -1px;
  outline: none;
  position: absolute;
  top: 0;
  z-index: 1;
}

.checkbox__label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  z-index: 2;
}

.checkbox__label::before {
  background: url(../img/ico-check.svg) center 20px no-repeat #fff;
  background-size: 12px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 0 2px #006CCE;
          box-shadow: inset 0 0 0 2px #006CCE;
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  -webkit-transition: background-color ease .3s, background-position ease .3s;
  transition: background-color ease .3s, background-position ease .3s;
  width: 20px;
}

.checkbox__field:checked + .checkbox__label::before {
  background-color: #006CCE;
  background-position: center;
}

.checkbox__field:focus + .checkbox__label::before {
  -webkit-box-shadow: 0 0 0 1px #e4e5e6, 0 0 4px 1px #006cce, inset 0 0 0 2px #006CCE;
          box-shadow: 0 0 0 1px #e4e5e6, 0 0 4px 1px #006cce, inset 0 0 0 2px #006CCE;
}

.radio {
  position: relative;
}

.radio__field {
  font-size: inherit;
  left: -1px;
  outline: none;
  position: absolute;
  top: 0;
  z-index: 1;
}

.radio__label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  z-index: 2;
}

.radio__label::before {
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 2px #006CCE;
          box-shadow: inset 0 0 0 2px #006CCE;
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.radio__field + .radio__label::after {
  background-color: #006CCE;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 0;
  -webkit-transition: opacity ease .5s;
  transition: opacity ease .5s;
}

.radio__field:checked + .radio__label::after {
  opacity: 1;
}

.radio__field:focus + .radio__label::before {
  -webkit-box-shadow: 0 0 0 1px #e4e5e6, 0 0 4px 1px #006cce, inset 0 0 0 2px #006CCE;
          box-shadow: 0 0 0 1px #e4e5e6, 0 0 4px 1px #006cce, inset 0 0 0 2px #006CCE;
}

.switch {
  position: relative;
}

.switch__field {
  font-size: inherit;
  left: -1px;
  outline: none;
  position: absolute;
  top: 0;
  z-index: 1;
}

.switch__label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  z-index: 2;
}

.switch__label::before {
  background-color: #c4c4c4;
  border-radius: 20px;
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  width: 40px;
  -webkit-transition: background-color ease .3s;
  transition: background-color ease .3s;
  cursor: pointer;
}

.switch__field + .switch__label::after {
  background-color: #fff;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: 21px;
  top: 2px;
  -webkit-transition: left ease .5s;
  transition: left ease .5s;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.switch__field:checked + .switch__label::before {
  background-color: #006CCE;
}

.switch__field:checked + .switch__label::after {
  left: 2px;
}

.switch__field:focus + .switch__label::before {
  -webkit-box-shadow: 0 0 0 1px #e4e5e6, 0 0 4px 1px #006cce;
          box-shadow: 0 0 0 1px #e4e5e6, 0 0 4px 1px #006cce;
}
/*# sourceMappingURL=main.css.map */