$size: 50;
$bg: tomato;
$pride: linear-gradient(to right, red, orange, yellow, green, blue, purple);

$font_fallback: arial, sans-serif;

$font_default: 20;

$theme_layout: '../assets/layout/';
$theme_dummy: '../assets/dummy/';

$levels: content, newsletter, login, alerts, header, ad, modals;