<div class="task" data-id="{{ task.id }}">
	<input 
		type="checkbox" 
		class="task__field" 
		id="task-{{ task.id }}" 
		name="taskList"
		{{ 'checked' if task.completed }}
	>
	<label class="task__label" for="task-{{ task.id }}">{{ task.title }}</label>
</div>
