body {
	font-size: 40px;
	margin: 3em;
}

.file {}

.file__label {
	display: inline-block;
	font-weight: bold;
	background: url(../assets/img/ico-upload.svg) right .75em center no-repeat gold;
	background-size: 1em;
	padding: .5em 2.5em .5em 1em;
	border-radius: 50px;
	cursor: pointer;
}

.file__field {
	width: 1px;
	height: 1px;
	outline: none;
	position: absolute;
}


.file__field:focus + .file__label {
	box-shadow: inset 0 0 0 2px blue, 0 0 0 2px #fff, 0 0 10px #057;
}

.file__preview {
	width: 100px;
	height: 100px;
	object-fit: cover;
}
