---
layout: layouts/base.njk
permalink: paquito.html
title: Soy paquito 🦄
---
{% set myTitle = {
	label: 'Soy paquito 🦄 pero desde Nunjucks',
	class: 'title title--main title--paquito'
} %}
{% include "_partials/main-title.njk" %}
