body {
	margin: 2em;
	background-color: #f6f7f8;
}

@function rem($size) {
	@return $size / 16 * 1rem;
}


.form { }
.form__row { }




// RANGE
.range { }

.range__label { }

.range__container {
	margin-top: rem(30);
}

.range__field {
	appearance: none;
	height: 10px;
	background-size: 25% 100%;
	background-image: linear-gradient(to bottom, mix(cyan, blue, 10%), mix(black, blue, 50%));
	background-repeat: no-repeat;
	background-color: #d4d4d4;
	border-radius: 5px;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
}

@mixin track() {
	appearance: none;
	background-color: transparent;
	height: 10px;
}

@mixin thumb() {
	appearance: none;
	background: red;
	border: 2px solid white;
	box-sizing: border-box;
	box-shadow: 0 2px 3px rgba(black, .4);
	border-radius: 50%;
	height: 15px;
	width: 15px;
	cursor: pointer;
	&:hover ,
	&:focus {
		background-color: mix(red, blue);
	}
}

.range__field::-webkit-slider-runnable-track {
	@include track();
}

.range__field::-moz-range-track {
	@include track();
}

.range__field::-ms-track {
	@include track();
}

.range__field::-webkit-slider-thumb {
	@include thumb();
	margin-top: -2.5px;
}

.range__field::-moz-range-thumb {
	@include thumb();
}

.range__field::-ms-thumb {
	@include thumb();	
}




.range__ticks {
	font-size: rem(10);
	display: flex;
	justify-content: space-between;
}
.range__tick {
	background: red;
	width: rem(15);
	text-align: center;
	position: relative;

	&::before {
		content: '';
		width: rem(1);
		height: rem(5);
		background: red;
		position: absolute;
		bottom: rem(2);
		left: 50%;
		transform: translateX(-50%);
	}
}

.range__tick-label {
	position: absolute;
	bottom: rem(7);
	left: 50%;
	transform: translateX(-50%);
}
