body {
  font-size: 30px;
  margin: 2em;
  background-color: #e5e6e7;
}

.product {
  padding: .5em;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0, .3);
  border-radius:2px;
  
}
.product__cover {}
.product__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__name { }
.product__description { }
.product__action { }
.product__purchase {
  background-color: red;
  border: 0;
  border-radius: 6px;
  width: 100%;
  height: 45px;
  font: inherit;
  color: white;
}