html {
  font-size: 40px;
  height: 100%;
}
body {
  margin:0;
  height: 100%;
}
.page {
  background-color: cyan;
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 97px 1fr 100px;
  grid-template-areas: 
  "header header"
  "main sidebar"
  "footer footer"
  ;
}
.page__header {
  background-color: gold;
  grid-area: header;
}
.page__main {
  background-color: grey;
  grid-area: main;
}
.page__sidebar {
  background-color: #fabada;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 300px 1fr;
  grid-template-areas:
  "ad"
  "list";
}
.page__footer {
  background-color: black;
  color: white;
  grid-column: span 2;
  grid-area: footer;
}