body {
  font-size: 30px;
  margin: 2em;
}

.tweet {
  border: 1px solid red;
  margin: 1em;
  display: grid;
  grid-template-columns: 100px 1fr auto;
  column-gap: .5em;
}
.tweet__type {
  justify-self: end;
}
.tweet__content {}

.tweet__likes {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  column-gap: 10px;

  display: flex;
  column-gap: 10px;
}
.tweet__like {
  width: 30px;
}
.tweet__like-author {
  width: 100%;
  border-radius: 50%;
}


.tweet--reply .tweet__image {
  border-radius: 50%;
}