/* body {
    background: gold;
    color: red;
    font-size: 10px;
  }

  a,
  button {
    color: initial;
  }
   * {
    padding-left: 45px;
  }

   p {
    color: tomato;
    border: 1px solid red;
    border-width: 1px;
    border-style: solid;
    border-color: red;
  }
  .par {
    color: blue;
  }
  #par0 {
    color: black;
  }
  [title="Sonrisa"] {
    background-color: rgba(0,0,0, .1);
    background-image: url(https://placehold.it/574x54/830000);
    width: calc(50% - 50px);
  }
  .elements .par {
    border: 4px solid black;
  }
  .elements > .par {
    border: 10px solid green;
  }

  p:nth-child(3) ~ p {
    opacity: .2;
  }

  p,
  h1,
  h2 {
    color: deeppink;
    font-size: 13px;
    border: 0;
    background: none;
    font-family: Comic Sans MS, sans-serif;
    font-weight: normal;
    text-decoration: none;
  } */
  
  /* p {
    color: blue;
  }
  p {
    color: red !important;
  }
  p {
    color: grey;
  }


  div.elements p.par {
    color: gold;
  }
  
  .elements .par {
    color: green;
  }   */
/* 
  body {
    color: green;
    border: 10px solid red;
  }

  input,
  a, 
  button {
    font: unset;
    color: inherit;
  } */


  .box {
    color: blue;
    backgorund: blue;
    border: 1px solid red;
    margin-bottom: 20px;
    padding: 15px;
    width: 200px;
    transition: background-color ease .5s;
  }
  .box:hover {
    background: red;
  }

  .box-alt {
    box-sizing: border-box;
  }

  body {
    background-color: #ededed;
  }
  @media (min-height: 500px) {
   body {
      background-color: gold;
    } 
  }
