$color-white: #fff;
$color-black: #212121;
$color-correct-blue: #008aff;
$color-red: tomato;

$color-default: $color-black;
$color-shadow: radial-gradient(ellipse closest-side, rgba($color-black, .4), rgba($color-black, .2), rgba($color-black, 0));


$font-size: 16;

$stick-width: 20;

$levels: shadow, body, overlay;
